#services {
    margin-top: $pad-top;
    .card {
        background: $light-bg;
        border-radius: 10px;
        transition: 0.3s;
        &:hover {
            box-shadow: 5px 5px 15px #e6e5e5;
        }
    }
    i {
        color: $primary-color;
        font-size: 5rem;
    }
    .card-title {
        text-transform: capitalize;
        font-size: 1.5rem;
        font-weight: $font-md;
    }
    @media screen and (max-width: 768px) {
        .services-card{
            margin-bottom: 2rem;
        }
    }
}
