#slider {
    img {
        max-width: 100%;
    }
    .title {
        color: #fff;
        font-weight: $font-md ;
        font-size: 3rem;
    }
    p {
        color: #ffffff;
        font-size: 1rem;
    }
    @media screen and (max-width: 768px){
        .carousel-item .row {
            margin-left: -10rem;
            padding-right: 7rem;
        }
    }
}
